.btn-get-started {
    background-color: #50d8af;
    color: #fff;
    width: 30%;
    border: none;
    margin: 8px 0px;
    height: calc(1.5em + 0.75rem + 2px);
    i {
      font-size: 14px;
    }
  }
  