<div class="form">


    <select class="form-control" placeholder="Eixo" id="opt" [(ngModel)]="axisId">
        <option disabled="true" selected="true">
            Selecione o
            eixo</option>
        <option *ngFor="let eixo of eixos" [value]="eixo.id">{{ eixo.name }}
        </option>
    </select>



    <div class="card-works" *ngFor="let coordinator of coordinators; let i = index"
        [ngClass]="{'mb-3': coordinators.length > 1}">
        <div class="row">
            <div class="col-sm-4 border-right">
                <small>NOME</small>
                <h4>{{ coordinator.fullname }}</h4>
            </div>
            <div class="col-sm-7 border-right">
                <small>EMAIL</small>
                <h4>{{ coordinator.email }}</h4>
            </div>
            <div class="col-sm-1 text-center align-self-center pointer">
                <i class="fa fa-trash" (click)="removeCoordinator(coordinator._id)"></i>
            </div>
        </div>
    </div>


    <div *ngIf="axisId" class="row justify-content-end">
        <button class="btn-get-started" (click)="showRegister()">CADASTRAR</button>
    </div>
</div>