<!--==========================
    Top Bar
  ============================-->
<div class="header">

    <section id="topbar" class="d-none d-lg-block">
        <div class="container clearfix">
            <!-- <div class="contact-info float-left">
                <i class="fa fa-envelope-o"></i> <a href="mailto:contact@example.com">contact@example.com</a>
                <i class="fa fa-phone"></i> +1 5589 55488 55
            </div> -->
            <div class="social-links float-right">
                <a href="https://www.facebook.com/xxendiperio2020/" class="facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/endipe.riodejaneiro/" class="instagram"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </section>

    <!--==========================
        Header
      ============================-->
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <h1><a [routerLink]="['/home']" fragment="body" class="scrollto">Endi<span>pe</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a routerLinkActive="menu-active" [routerLink]="['/home']" fragment="about">Home</a></li>
                    <li><a routerLinkActive="menu-active" [routerLink]="['/home']" fragment="services">Eixos</a></li>
                    <li><a [routerLink]="['/home']" fragment="team">Organização</a></li>
                    <li><a [routerLink]="['/home']" fragment="historico">Histórico</a></li>
                    <li><a [routerLink]="['/home']" fragment="programacao">Programação</a></li>
                    <li><a [routerLink]="['/home']" fragment="modalidades">Modalidades</a></li>
                    <li><a [routerLink]="['/home']" fragment="normas">Normas</a></li>
                    <li><a [routerLink]="['/home']" fragment="hospedagem">Hospedagem</a></li>
                    <li><a [routerLink]="['/home']" fragment="contact">Contato</a></li>
                    <li *ngIf="!isAuth"><a [routerLink]="'/login'">Login</a></li>
                    <li *ngIf="isAuth" class="menu-has-children">
                        <a [routerLink]="">Ações <i class="fa fa-chevron-down"></i></a>
                        <ul>
                            <li><a [routerLink]="['/pagamento']">Pagamento</a></li>
                            <li><a [routerLink]="['/meus-trabalhos']">Submissão</a></li>
                            <li><a [routerLink]="['/certificados']">Certificados</a></li>
                            <li><a style="cursor: pointer;" (click)="logout()">Sair</a></li>

                        </ul>
                    </li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->
</div>
