<div class="form">

    <div class="card-works" *ngFor="let reviewer of reviewers; let i = index">
        <div class="row">
            <div class="col-sm-6 border-right">
                <small>EMAIL</small>
                <h4>iuriian@hotmail.com</h4>
            </div>
            <div class="col-sm-5 border-right">
                <small>NOME DO EIXO</small>
                <h4>Eixo 1</h4>
            </div>
            <div class="col-sm-1 text-center align-self-center pointer">
                <i class="fa fa-chevron-down"></i>
            </div>
        </div>
    </div>

    <div *ngIf="!reviewers || reviewers.length < 1">
        <div class="no-news">
            <div class="row">
                <div class="col-sm-12">
                    <h4>Não há pareceristas cadastrados</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-end">
        <button class="btn-get-started" (click)="register()">CADASTRAR</button>
    </div>

</div>