<div class="form">
    <div class="card-works" *ngFor="let coordinator of coordinators; let i = index">
        <div class="row">
            <div class="col-sm-4 border-right">
                <small>NOME DO EIXO</small>
                <h4>Eixo 1</h4>
            </div>
            <div class="col-sm-7 border-right">
                <small>NÚMERO DE COORDENADORES</small>
                <h4>4</h4>
            </div>
            <div class="col-sm-1 text-center align-self-center pointer">
                <i class="fa fa-chevron-down"></i>
            </div>
        </div>
    </div>

    <div *ngIf="!coordinators || coordinators.length < 1">
        <div class="no-news">
            <div class="row">
                <div class="col-sm-12">
                    <h4>Não há coordenadores cadastrados</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-end">
        <button class="btn-get-started" (click)="showRegister()">CADASTRAR</button>
    </div>
</div>