<div>
    <div>Total de {{ pager.totalItems }} inscritos

        <button *ngIf="status == '5' && !gerandoRelatorio" (click)="export()" class="btn btn-primary">
            <i class="fa fa-file-excel-o"></i> Exportar
            Excel
        </button>

        <div *ngIf="gerandoRelatorio">
            <i class="fas fa-spinner fa-pulse"></i>Aguarde...
        </div>

    </div>

    <div class="row" *ngIf="user && user.icAdmin">
        <div class="col-md-8">
            <input type="text" class="form-control mb-4" [(ngModel)]="search"
                placeholder="Filtrar participante por email" (keyup)="searchUser()">
        </div>
        <div class="col-md-4">
            <select class="form-control" [(ngModel)]="status" (change)="filtrarStatus()">
                <option value="">Todos </option>
                <option value="0">Não realizaram envios</option>
                <option value="1">Aguardando validação comprovante de categoria</option>
                <option value="2">Aguardando validação comprovante de transferência</option>
                <option value="5">Pagamento Válido</option>
                <option value="3">Deficientes</option>
                <option disabled="disabled">-----------------------</option>
                <option value="4">Trabalhos Submetidos</option>
            </select>
        </div>

    </div>

    <div *ngFor="let subscribed of users; let i = index" [ngClass]="{'mb-3': users.length > 1}">

        <subscribers-card [subscribed]="subscribed" (selected)="receiverSelectedUser($event)">
        </subscribers-card>

        <subscribers-data [subscribed]="subscribed" (update)="updateUser($event)"
            *ngIf="user.icAdmin && (subscribed && subscribed._id == userSelect)">
        </subscribers-data>

    </div>

    <div class="pagination justify-content-center">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li>
                <button [ngClass]="{disabled:pager.currentPage == 1}" (click)="retrieveAdminData(1)"
                    class="page-link">Primeira</button>
            </li>
            <li>
                <button [ngClass]="{disabled:pager.currentPage == 1}" (click)="retrieveAdminData(pager.currentPage - 1)"
                    class="page-link">Anterior</button>
            </li>
            <li *ngFor="let page of pager.pages">
                <button [ngClass]="{active:pager.currentPage == page}" (click)="retrieveAdminData(page)"
                    class=" page-link">{{page}}</button>
            </li>
            <li>
                <button [ngClass]="{disabled:pager.currentPage == pager.totalPages}"
                    (click)="retrieveAdminData(pager.currentPage + 1)" class="page-link">Próximo</button>
            </li>
            <li>
                <button [ngClass]="{disabled:pager.currentPage == pager.totalPages}"
                    (click)="retrieveAdminData(pager.totalPages)" class="page-link">Última</button>
            </li>
        </ul>


        <md-paginator #paginator [length]="10" [pageIndex]="10" [pageSize]="10">
        </md-paginator>
    </div>

</div>