<div class="container">
    <div class="row justify-content-between header">
        <div class="section-header" mat-dialog-title>
            <h2>Cadastrar programação</h2>
        </div>
        <i class="fa fa-times" (click)="close()"></i>
    </div>
    <div class="row" mat-dialog-content>
        <div class="contactForm">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <select class="form-control" id="axis" [formControl]="axis">
                        <option disabled="true" [selected]="true">Selecione
                            o tipo</option>
                        <option *ngFor="let type of types" [value]="type.id">{{ type.name }}
                        </option>
                    </select>
                </div>
            </div>
            <ng-container *ngIf="showGenericForm()">
                <generic-form (submitForm)="sendSchedule($event)" [type]="axis.value"></generic-form>
            </ng-container>
            <ng-container *ngIf="showSimposioForm()">
                <simposio-form (submitForm)="sendSchedule($event)" [type]="axis.value"></simposio-form>
            </ng-container>
        </div>
    </div>
</div>

<!-- <main id="main">
    <div class="container">
        <div class="form">
            <form [formGroup]="scheduleForm" role="form" class="contactForm" (ngSubmit)="registerSchedule()">
                <div class="row justify-content-between">
                    <div class="section-header" mat-dialog-title>
                        <h2>Cadastrar programação</h2>
                    </div>
                    <i class="fa fa-times" (click)="close()"></i>
                </div>
                <div class="row">
                    <div mat-dialog-content> -->
<!-- <div class="form-row">
                            <div class="form-group col-md-12">
                                <select class="form-control" id="axis" formControlName="axis">
                                    <option disabled="true" [selected]="true">Selecione
                                        o eixo</option>
                                    <option *ngFor="let type of types" [value]="type.id">{{ type.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <ng-container *ngIf="axis == 1">
                            <generic-form></generic-form>
                        </ng-container> -->
<!-- </div>
                </div> -->
<!-- <div class="form-row">
                    <div class="form-group col-md-12">
                        <select class="form-control" id="axis" formControlName="axis">
                            <option disabled="true" [selected]="true">Selecione
                                o eixo</option>
                            <option *ngFor="let eixo of axisCollection" [value]="eixo.id">
                                {{ eixo.name }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-row" *ngIf="axis">
                    <div class="form-group col-md-12">
                        <select class="form-control" id="work" formControlName="work">
                            <option disabled="true" [selected]="true">Selecione
                                o trabalho</option>
                            <option *ngFor="let work of works" [ngValue]="work">
                                {{ work.title }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-row" *ngIf="work">
                    <div class="form-group col-md-6">
                        <select class="form-control" id="day" formControlName="day">
                            <option disabled="true" [selected]="true">Selecione
                                o dia</option>
                            <option *ngFor="let day of days" [value]="day">
                                {{ day }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="time" min="08:00" max="21:00" class="form-control" name="hour" id="hour"
                            placeholder="Adicione o horário" formControlName="hour" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="text" name="address" class="form-control" id="address"
                            placeholder="Adicione o endereço" formControlName="address" />
                    </div>
                </div>
                <div class="form-row" *ngIf="(day && hour && address)">
                    <div class="form-group col-md-12">
                        <input type="text" name="room" class="form-control" id="room" placeholder="Adicione a sala"
                            formControlName="room" />
                    </div>
                </div> -->
<!-- <div class="row justify-content-center">
                    <button class="btn-get-started" type="submit">Submeter</button>
                </div>
            </form>
        </div>
    </div>

</main> -->