<main id="certificados">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="box" class="box">
          <div class="section-header">
            <h2>Certificados</h2>
          </div>
          <!--<h5>Certificados ainda não disponíveis.</h5>-->

          <div id="certificado" class="certified">
            <div *ngIf="!carregando" class="certified-details">
              <h4>
                Certificamos que <strong>{{user.fullname}}</strong> participou do XX Encontro
                Nacional de
                Didática e Prática de Ensino – XX ENDIPE – RIO 2020 – uma promoção interinstitucional
                coordenada pela Universidade Federal do Rio de Janeiro, realizado no Rio de Janeiro, no
                período de 29/10, 30/10, 31/10 e 01/11 de 2020.
              </h4>
            </div>
          </div>

          <div *ngIf="!carregando" class="row justify-center">
            <button class="btn-get-started" (click)="captureScreen()">Download</button>
          </div>
          <div class="row" *ngIf="carregando">
            <button class="btn-get-started"><i class="fas fa-spinner fa-pulse"></i>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>


<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
