<section id="programacao" class="wow fadeInUp">
  <div class="container">
    <div class="section-header mt-3 mb-5">
      <h2>Programação</h2>
    </div>

    <div class="row contact-info mb-5" style="text-align: left;cursor: pointer;">
      <div class="col-md-12">
        <h4 class="title">Visão Geral</h4>
        <mat-card class="schedule">
          <table class="table table-responsive table-bordered">
            <thead>
              <tr>
                <th scope="col">Horário</th>
                <th scope="col">29/10/2020</th>
                <th scope="col">30/10/2020</th>
                <th scope="col">31/10/2020</th>
                <th scope="col">01/11/2020</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>08:30 - 10:00</td>
                <td rowspan="4"></td>
                <td>Minicursos & Rodas de Conversa</td>
                <td>Minicursos & Rodas de Conversa</td>
                <td>Minicursos & Rodas de Conversa</td>
              </tr>
              <tr>
                <td>10:00 - 12:00</td>
                <td>Simpósios</td>
                <td>Simpósios</td>
                <td>Simpósios</td>
              </tr>
              <tr>
                <td>12:00 - 13:00</td>
                <td>Intervalo</td>
                <td>Intervalo</td>
                <td>Intervalo</td>
              </tr>
              <tr>
                <td>13:00 - 15:00</td>
                <td>Painéis & Pôsteres</td>
                <td>Painéis & Pôsteres</td>
                <td>Painéis & Pôsteres</td>
              </tr>
              <tr>
                <td>15:15 - 17:15</td>
                <td rowspan="4">
                  <span>Abertura oficial:</span>
                  <span class="sub">1. Sessão de Abertura</span>
                  <span class="sub">2. Mesa de Abertura</span>
                  <span class="sub">3. Show de Abertura</span>
                </td>
                <td>
                  <span>Painéis & Pôsteres</span>
                  <span>Reuniões de Associações,</span>
                  <span>Entidades e Redes</span>
                </td>
                <td>
                  <span>Painéis & Pôsteres</span>
                  <span>Reuniões de Associações,</span>
                  <span>Entidades e Redes</span>
                </td>
                <td rowspan="4">
                  <span>Encerramento oficial: </span>
                  <span class="sub">1. Conferência de Encerramento</span>
                  <span class="sub">2. Apresentação cultural</span>
                  <span class="sub">3. Sessão de Encerramento-Escolha do local de sede do XXI ENDIPE
                    2022</span>
                </td>
              </tr>
              <tr>
                <td>17:30 - 18:00</td>
                <td>Apresentações Culturais</td>
                <td>Apresentações Culturais</td>
              </tr>
              <tr>
                <td>18:00 - 20:00</td>
                <td>Sessões Especiais</td>
                <td>Sessões Especiais</td>
              </tr>
              <tr>
                <td>20:00 - 21:00</td>
                <td>Lançamento de Livros e de Redes de Pesquisa</td>
                <td>Lançamento de Livros e de Redes de Pesquisa</td>
              </tr>
            </tbody>
          </table>
        </mat-card>
      </div>
    </div>
    <!-- <p class="mt-2 mb-2 information">Clique para ver os horários de cada sessão abaixo:</p>
        <div class="row mb-4">
            <div class="col-sm-6 col-md-6 col-lg-4" *ngFor="let programacao of programacoes">
                <h4 class="card-navigate" (click)="openDialogProgramacao(programacao)">
                    <a>{{ programacao.titulo }}</a>
                </h4>
            </div>
        </div> -->


    <!-- PROGRAMACAO 
    <mat-tab-group [backgroundColor]="'primary'" [color]="'warn'" (selectedTabChange)="currentTab($event)">
      <mat-tab *ngFor="let workModality of programacoes" [label]="workModality.name">
        <div class="container-schedule">
          <div class="row mb-3">
            <div class="col-12 col-sm-12 col-md-6">
              <ul class="nav nav-pills">
                <ng-container *ngFor="let day of days">
                  <li class="nav-item" (click)="selectDay(day)"
                    [ngClass]="{'activated': (daySelected$ | async) == day}">
                    <a class="nav-link">{{ day }}</a>
                  </li>
                </ng-container>
              </ul>
            </div>
          </div>
          <div class="row">
            <ng-container *ngIf="(schedules$ | async)?.length > 0">
              <div class="col-12 col-sm-12 col-md-12 mb-3" *ngFor="let schedule of (schedules$ | async)">
                <ng-container *ngIf="showGenericCard()">
                  <generic-card [schedule]="schedule" [type]="typeId" (update)="updateList()">
                  </generic-card>
                </ng-container>
                <ng-container *ngIf="showSimposioCard()">
                  <simposio-card [schedule]="schedule" [type]="typeId" (update)="updateList()">
                  </simposio-card>
                </ng-container>
                <ng-container *ngIf="showWorkCard()">
                  <work-schedule-card [schedule]="schedule" [type]="typeId" (update)="updateList()" [user]="user">
                  </work-schedule-card>
                </ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="(schedules$ | async)?.length < 1">
              <div class="not-schedule">
                Não há programação para esse dia
              </div>
            </ng-container>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>-->
  </div>
</section>
