<!--==========================
    Intro Section
  ============================-->
  <main id="main">

        <div class="container" id="payment">
            <div class="form">
                <form [formGroup]="paymentForm" (ngSubmit)="pagar()" role="form" class="contactForm">
                    <div class="section-header">
                        <h2>Pagamentos</h2>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-xs-12">
                            <select [(ngModel)]="idCategoria">
                                <option *ngFor="let categoria of categorias" [ngValue]="categoria.id">{{categoria.name}}</option>
                            </select>
                        </div>
                        <h3>

                            Valor Total R${{valorTotal}}

                        </h3>
                    </div>
                    <div class="text-center pt-5"><button type="submit">Realizar Pagamento</button></div>
                </form>
            </div>
    
        </div>
    
    </main>
    
    
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>