<div class="form">

    Selecione o eixo
    <select class="form-control" (change)="loadData()" placeholder="Eixo" id="opt" [(ngModel)]="axisId">
        <option *ngFor="let eixo of eixos" [value]="eixo.id">{{ eixo.name }}
        </option>
    </select>


    <hr />

    <div class="row" *ngIf="allWorks.length > 0 && user && user.icAdmin">
        Total de {{allWorks.length}} trabalhos - Filtro de Pesquisa

        <div class="col-md-4">
            <select class="form-control" [(ngModel)]="status" (change)="filtrarStatus()">
                <option value="0">Todos </option>
                <option value="1">Parecer pendente</option>
                <option value="2">Parecer negativo</option>
                <option value="3">Parecer positivo</option>
            </select>
        </div>
        <hr />
    </div>
    <br />

    <div *ngFor="let work of works; let i = index" [ngClass]="{'mb-3': works.length > 1}">
        <work-card [work]="work" [reviewers]="reviewers" (selected)="receiverSelectedWork($event)">
        </work-card>

        <app-work-data [work]="work" *ngIf="user.icAdmin && (work && work._id == workSelect)">
        </app-work-data>
    </div>

    <div *ngIf="works.length == 0">
        <h4>Não há trabalhos para este eixo</h4>
    </div>

</div>