<!--==========================
    Login Section
============================-->
<section id="login">
    <div class="container login-content">
        <div class="section-header">
            <h2>Login</h2>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box wow fadeInLeft">
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="form-row">
                            <div class="form-group col-xs-12">
                                <input type="text" name="email" class="form-control" id="email" placeholder="Email" formControlName="email"/>
                                <div class="validation"></div>
                            </div>
                            <div class="form-group col-xs-12">
                                <input type="password" name="senha" class="form-control" id="senha" placeholder="Senha" formControlName="password"/>
                            </div>
                        </div>

                        <div class="btn-get-started col-xs-6">
                            <a [routerLink]="" style="cursor: pointer;" (click)="retrieveMyData()">Entrar</a>
                        </div>
                        <div class="btn-projects col-xs-6">
                            <a style="cursor: pointer;" [routerLink]="['/register']">Realizar Inscrição</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section><!-- #eixos -->