<div class="schedule-card">
    <div class="row">
        <div class="col-3 border-right">
            <small>TRABALHO</small>
            <h4>{{ schedule.work }}</h4>
        </div>
        <div class="col-3 border-right">
            <small>EIXO</small>
            <h4>{{ schedule.axis | axis }}</h4>
        </div>
        <div class="col-1 border-right">
            <small>DIA</small>
            <h4>{{ schedule.day }}</h4>
        </div>
        <div class="col-2 border-right">
            <small>HORA</small>
            <h4>{{ schedule.hour }}</h4>
        </div>
        <div class="col-2 border-right">
            <small>SALA</small>
            <h4>{{ schedule.room }}</h4>
        </div>
        <div class="col-sm-1 text-center align-self-center pointer">
            <i class="fa fa-trash"></i>
        </div>
    </div>
</div>