<div class="container">
   <div class="scroll">
        <div class="container">
            <div class="scroll">
                <h2><strong style="color: rgb(19, 95, 236); text-align: center">Cadastro Realizado com sucesso</strong></h2>
                Parabéns, seu cadastro foi realizado com sucesso, agora você pode acessar suas ações como: Enviar Trabalhos, Gerar Certificado, Pagamentos e etc... 
                <img src="/assets/img/img-menu-acoes.jpg"></img>

            
            </div>
      </div>
    </div>
</div>       