<section id="team" class="wow fadeInUp">
    <div class="container">
        
        <!--<div class="topleft">
            <p>Logo</p>
        </div>-->
        <div class="middle section-header">
            <h1 style="color: #0C2E8A;">Aguarde</h1>
            <hr>
            <p style="font-size:30px">Aqui você terá acesso a suas incrições na programação do evento.</p>
            <p style="font-size:30px">{{days + 'd ' + hours + 'h ' + minutes + 'm ' + seconds + 's'}}</p>
        </div>
        <!-- <div class="bottomleft">
            <p>{{days}}</p>
        </div>-->
    </div>
</section><!-- #coordenação -->