<div id="faq" class="section-header">
    <h2>FAQ</h2>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = !panelOpenState"
            (closed)="panelOpenState = !panelOpenState">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Como me inscrevo em mini curso?
                </mat-panel-title>

            </mat-expansion-panel-header>
            <p>Isso é simples, basta você clicar em....</p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState2 = !panelOpenState"
            (closed)="panelOpenState2 = !panelOpenState">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Como me inscrevo em roda de conversa?
                </mat-panel-title>

            </mat-expansion-panel-header>
            <p>Basta clicar em...</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div id="pergunte" class="section-header">
    <h2>Pergunte a secretaria</h2>
    <p>Mande-nos sua dúvida que logo responderemos</p>
    <app-admin-chat-virtual [comments]="comments" [user]="user"></app-admin-chat-virtual>
</div>
