<i class="fa fa-times pointer" (click)="close()"></i>
<div class="container">
    <div class="scroll">



        Aos participantes do XX ENDIPE - Rio 2020
        <br /><br />
        Que cada um/a esteja bem e protegido/a.
        <br /><br />
        Estávamos com todo o evento presencial praticamente pronto, com a proposta de uma bela
        celebração quando fomos atravessados pela pandemia da Covid-19. Não nos houve outra
        possibilidade senão adiá-lo, mas por conta disso o nosso desejo de fazer o XX ENDIPE - Rio
        2020 ficou ainda maior.
        <br /><br />
        No mês de março/20 quando o problema se manifestou, decidimos pelo adiamento do evento
        para o período de 29/10 a 01/11/2020. Desde então temos estudado a melhor maneira de
        realizá-lo levando em conta o contexto, a proposta e os participantes.
        <br /><br />
        Balizados pelos dados epidemiológicos fornecidos por órgãos competentes, como FIOCRUZ,
        UFRJ e OMS, temos avaliado como seriam os possíveis cenários de realização do evento que
        conta com cerca de 4.000 participantes inscritos, sem que tenhamos ainda certezas em relação
        aos protocolos de segurança para tamanha quantidade de pessoas em espaços fechados, como
        auditórios e salas de aula, e tampouco, a possibilidade de uma vacina que atenda a todos neste
        ano ou em 2021. Nesse contexto de pandemia torna-se inviável realizar o XX ENDIPE – Rio
        2020 de forma presencial.
        <br /><br />
        Entretanto, ao pensar no adiamento do encontro para quando a reunião presencial for possível,
        nos indagamos como seria passar o seu aniversário de 40 anos sem nada fazer? A proposta da
        vigésima edição foi construída em torno dessa data tão marcante para o encontro e o
        movimento que ele representa. O ENDIPE inscreve-se de modo incisivo na educação
        brasileira. Ele consolida um movimento histórico e político de luta pela democratização da
        educação, de onde emanam reflexões, críticas, constatações, evidências e proposições com e
        contra as múltiplas tensões e perspectivas que permeiam o campo pedagógico. Como paralisar
        ou silenciar o seu acontecer por causa da pandemia e ainda por cima diante do grave quadro
        político que atravessa o Brasil, em especial o quadro político educacional? Como não promover
        um encontro potente que revele a força da produção em Didática no campo da Educação, num
        momento como este?
        <br /><br />
        O ENDIPE é o encontro de professores e professoras da Educação Básica e Superior,
        pesquisadores e pesquisadoras da graduação, da pós-graduação, das escolas e universidades que
        se reúnem para socializar fazeres-saberes pedagógicos decorrentes de suas pesquisas e
        experiências em torno das múltiplas possibilidades de práticas de ensino.
        <br /><br />
        Em um tempo pandêmico, marcado pela necessidade de distanciamento social, a relação entre
        Didática e virtualidade está em questão. Nós, profissionais da educação, precisamos estar juntos
        nesse momento, pois temos muito o que debater e propor sobre as possibilidades de se pensar
        a Didática nessa necessária interface com o ensino remoto e on-line. Entendemos que a hora é
        de compartilhar saberes, hora de estarmos juntos e nos parece que essa se torna a tarefa maior
        do ENDIPE nesse momento. Por isso, a Coordenação Geral e o Comitê Organizador do XX
        ENDIPE – Rio 2020, com o apoio da ANDIPE, propõem que o XX ENDIPE seja
        VIRTUAL.
        <br /><br />
        O <span style="color: red;">XX ENDIPE – Rio 2020 VIRTUAL</span> acontecerá de 
        <span style="color: red;">29/10 a 12/11/2020.</span>
        Trata-se de um período longo porque a temporalidade de um evento virtual é maior do que a
        presencial, sobretudo no caso dessa edição que não foi projetada inicialmente para acontecer
        dessa forma. Porém, toda a programação estará disponível por tempo indeterminado para
        todos que quiserem assisti-la remotamente, o que confere um ganho democrático e inclusivo
        muito expressivo. Como será isso?
        <br /><br />

        <ul>
            <li>
                O XX ENDIPE - Rio 2020 VIRTUAL envolverá atividades ao vivo pelo YouTube
                aberta ao público e atividades específicas por meio de plataformas virtuais para os
                inscritos.
            </li>
            <li>
                Atividades como Mesa de Abertura, Sessões Especiais, Simpósios e Conferência de
                Encerramento acontecerão ao vivo, cujos vídeos ficarão disponíveis no YouTube por
                tempo indeterminado.
            </li>
            <li>
                Atividades como Pôster, Painel, Minicurso e Roda de Conversa acontecerão em Ateliers
                de trabalho em salas virtuais com a participação dos autores que concordarem com esse
                formato e autorizarem o uso de imagem e de participantes com inscrição prévia. Os
                autores serão consultados se desejarão apresentar ou não o seu trabalho nesse formato,
                sem prejuízo de publicação, creditação e certificação. Os vídeos de gravação também
                ficarão disponíveis no YouTube por tempo indeterminado, de modo que quem não
                puder se inscrever para participar da sessão poderá assistir quando quiser. As
                apresentações em PowerPoint com áudio serão disponibilizadas no site, antes da
                realização do Atelier, ficando acessíveis para todos os interessados. Os monitores
                ajudarão os inscritos no que for preciso, oferecendo tutoriais e apoio para se
                inscreverem nas atividades de seu interesse e obter os links de acesso às salas.
            </li>
            <li>
                Além disso, acontecerão atividades culturais, lançamento de livros e muitas novidades
                que um evento virtual também possibilita.
            </li>
            <li>
                Todo o evento acontecerá por dentro do site, que está recebendo muitos investimentos
                tecnológicos para suportar a estrutura necessária com assistência, acessibilidade e
                segurança.
            </li>
        </ul>
       
        A temática do XX ENDIPE - Rio 2020 nos convida às práticas insurgentes. O cenário de
        pandemia nos convoca a, insurgentemente, oferecer respostas às demandas político-
        educacionais. Assim, a edição virtual do XX ENDIPE - Rio 2020 é uma resposta insurgente,
        criativa e inclusiva aos desafios do século XXI em meio às novas relações temporais e espaciais.
        <br /><br />

        Reconhecemos que você, inscrito no evento, fez investimentos para participar e submeter o seu
        trabalho, como também financiar passagem aérea e até hospedagem, no caso de muitos. Isso
        nos gerou muita preocupação, além da frustração diante da impossibilidade de ver acontecer a
        grande celebração presencial preparada em torno desse acontecimento. Sobre custos,
        esclarecemos que o orçamento do evento se encontrava em execução com muitos gastos sendo
        efetuados, como as passagens aéreas de todos os preletores, material do congressista, e-books,
        só para dar alguns exemplos. Estamos em negociação e operando com um orçamento restrito
        em face da crise econômica. Mas, estamos com muita força de vontade para construir o I
        ENDIPE VIRTUAL e honrar o seu investimento e compromisso com este que é, sem dúvida,
        um dos maiores encontros da educação brasileira.

        <br/><br/>

        Contamos com a sua compreensão e generosidade e agradecemos a confiança que tem
        depositado em nossa Coordenação. Venha conosco viver a realidade insurgente do <span style="color: red">I ENDIPE
        VIRTUAL!</span>

        <br/><br/>
        Rio de Janeiro, 06/7/2020
        <br/><br/>
        Comitê Organizador
        <br/><br/>
    </div>
</div>