<!--========================== Submission ============================-->
<main id="submission">
    <div class="container submission-content">
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <div class="box">
                    <div class="section-header">
                        <h2>Painel Gerencial</h2>
                    </div>

                    <div class="section-header">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/admin/inscritos']"
                                    routerLinkActive="active">INSCRITOS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/admin/noticias']"
                                    routerLinkActive="active">NOTICIAS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/admin/coordenadores']"
                                    routerLinkActive="active">COORDENADORES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/admin/pareceristas']"
                                    routerLinkActive="active">PARECERISTAS</a>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>