<div class="card-content">
  <div class="card">
    <div class="row">
      <div class="col-6">
        <div class="group" *ngIf="type != '4' && type != '9'">
          <p class="label">Horário</p>
          <p class="hour">{{ schedule.startTime }} - {{ schedule.endTime }}</p>
        </div>
      </div>
      <div class="col-6">
        <div class="row justify-content-end">
          <div class="dropdown show" *ngIf="admin">
            <a
              class="btn btn-secondary dropdown-toggle menu"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-cogs"></i>
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a
                class="dropdown-item pointer"
                *ngIf="
                  !isSubscribe() &&
                  schedule.qtdSubscribers - (schedule.subscribers ? schedule.subscribers.length : 0) > 0 &&
                  (type == '2' || type == '8')
                "
                (click)="signUp(type)"
                >Inscrever-se</a
              >
              <a
                class="dropdown-item pointer"
                style="background: #bb4949;"
                *ngIf="
                  !isSubscribe() &&
                  schedule.qtdSubscribers - (schedule.subscribers ? schedule.subscribers.length : 0) == 0 &&
                  (type == '2' || type == '8')
                "
                >Vagas Encerradas
              </a>
              <a
                class="dropdown-item pointer"
                *ngIf="isSubscribe() && (type == '2' || type == '8')"
                (click)="cancelSignUp(type)"
                >Cancelar inscrição</a
              >
              <a class="dropdown-item pointer" (click)="editSchedule()">Editar</a>
              <a class="dropdown-item pointer" (click)="removeSchedule(schedule._id)">Excluir</a>
            </div>
          </div>
          <div *ngIf="!admin">
            <ng-container
              *ngIf="
                !isSubscribe() &&
                schedule.qtdSubscribers - (schedule.subscribers ? schedule.subscribers.length : 0) > 0 &&
                (type == '2' || type == '8')
              "
            >
              <div class="col-12">
                <div class="expand" (click)="signUp(type)">Inscrever-se</div>
              </div>
            </ng-container>
            <ng-container
              *ngIf="
                !isSubscribe() &&
                schedule.qtdSubscribers - (schedule.subscribers ? schedule.subscribers.length : 0) == 0 &&
                (type == '2' || type == '8')
              "
            >
              <div class="col-12">
                <div class="expand" style="background: #bb4949;">Vagas Encerradas</div>
              </div>
            </ng-container>
            <ng-container *ngIf="isSubscribe() && (type == '2' || type == '8')">
              <div class="col-12">
                <div class="expand" (click)="cancelSignUp(type)">Cancelar inscrição</div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="group" *ngIf="type != '4' && type != '9'">
          <p class="label">Título</p>
          <p class="title">
            {{ schedule.workTitle }}
          </p>
        </div>
        <div class="group" *ngIf="type == '4' || type == '9'">
          <p class="label">Eixo</p>
          <p class="title">
            {{ schedule.axis | axis }}
          </p>
        </div>
        <div *ngIf="type == '4' || type == '9'">
          <div class="group">
            <p class="label">Programação dos trabalhos</p>
            <a [href]="schedule.pdf" target="_blank">{{ schedule.pdf }}</a>
            <!-- <p class="title">
              {{ schedule.workTitle }}
            </p> -->
          </div>
        </div>
        <div class="group" *ngIf="type != '4' && type != '9'">
          <p class="label">Resumo da proposta</p>
          <p class="title not-dash">
            {{ schedule.resumePropose }}
          </p>
        </div>
        <div class="group" *ngIf="type != '4' && type != '9'">
          <p class="label">Autores</p>
          <p class="title not-dash">
            {{ schedule.authors }}
          </p>
        </div>
        <div class="group" *ngIf="type != '4' && type != '9'">
          <p class="label">Vagas</p>
          <p class="hour">
            {{ schedule.qtdSubscribers - (schedule.subscribers ? schedule.subscribers.length : 0) }}
          </p>
        </div>
        <div class="group" *ngIf="type != '4' && type != '9'">
          <p class="label">Duração</p>
          <p class="hour">{{ schedule.qtdDias }} Dia(s)</p>
        </div>
        <div class="group" *ngIf="type != '4' && type != '9'">
          <p class="label">Local</p>
          <p class="hour">{{ schedule.place }}</p>
        </div>
        <!-- <div class="group" *ngIf="type == '4' || type == '9'">
          <p class="label">Endereço</p>
          <p class="hour">{{ schedule.address }}</p>
        </div> -->
      </div>
    </div>
  </div>
</div>
