<div class="card-content">
    <div class="card">
        <div class="flex">
            <div class="group">
                <p class="label">Horário</p>
                <p class="hour">{{ schedule.startTime }} - {{ schedule.endTime }}</p>
            </div>
            <div class="expand" (click)="removeSchedule(schedule._id)" *ngIf="delete">
                <i class="fas fa-trash"></i>
            </div>
        </div>
        <div class="group">
            <p class="label">Título</p>
            <p class="title">
                {{ schedule.workTitle }}
            </p>
        </div>
        <div class="group">
            <p class="label">Quantidade de inscritos</p>
            <p class="hour">
                0 - {{ schedule.qtdSubscribers }}
            </p>
        </div>
        <div class="group">
            <p class="label">Local</p>
            <p class="hour">{{ schedule.place }}</p>
        </div>
        <div class="group">
            <p class="label">Endereço</p>
            <p class="hour">{{ schedule.address }}</p>
        </div>
    </div>
</div>