<div [formGroup]="form" class="form">
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="theme" class="label">Tema</label>
            <select class="form-control" name="theme" id="theme" formControlName="theme">
                <option *ngFor="let item of themes" [value]="item.id">{{ item.name }}</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="startTime" class="label">Horário início</label>
            <input type="time" class="form-control" formControlName="startTime" name="startTime">
        </div>
        <div class="form-group col-md-4">
            <label for="endTime" class="label">Horário fim</label>
            <input type="time" class="form-control" formControlName="endTime" name="endTime">
        </div>
        <div class="form-group col-md-4">
            <label for="date" class="label">Data</label>
            <select class="form-control" name="date" id="date" formControlName="date">
                <option *ngFor="let day of days" [value]="day">{{ day }}</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="place" class="label">Local</label>
            <input type="text" class="form-control" formControlName="place" name="place">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="address" class="label">Endereço</label>
            <input type="text" class="form-control" formControlName="address" name="address">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="classification" class="label">Classificação</label>
            <input type="text" class="form-control" formControlName="classification" name="classification">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="theme" class="label">Tema da palestra</label>
            <input type="text" class="form-control" formControlName="themeSpeeches" name="theme">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="titles" class="label">Coordenadores(s)</label>
            <div class="mb-2" formArrayName="coordinators" *ngFor="let item of coordinators; let i = index">
                <div class="row justify-content-center">
                    <div class="align-items-center" [ngClass]="{'col-md-11': i > 0, 'col-md-12': i < 1}">
                        <input type="text" class="form-control" [formControlName]="i">
                    </div>
                    <div class="col-md-1 align-items-center icon" *ngIf="i > 0">
                        <button type="button" (click)="removeCoordinator(i)">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="add-coordinator" (click)="addCoordinator()">
            <i class="fa fa-plus"></i>
            Coordenadores
        </button>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            <button class="btn-get-started" type="button" (click)="submitSchedule()">SUBMETER PROGRAMAÇÃO</button>
        </div>
    </div>
</div>