<div class="container">
    <div class="header">
        <h2 mat-dialog-title>{{ programacao.titulo }}</h2>
        <i class="fa fa-times" (click)="close()"></i>
    </div>
    <div class="row">
        <div mat-dialog-content>
            <div class="row">
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <p>
                                    <strong>{{ programacao.data }} - {{ programacao.horario }}</strong>
                                </p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                <p *ngFor="let palestra of programacao.sessao">{{ palestra.horario }}
                                    {{ palestra.titulo }}</p>
                            </th>
                            <th>
                                <p *ngFor="let coordenador of programacao.coordenadores">{{ coordenador }}</p>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>