<div class="card-content">
    <div class="card">
        <div class="flex">
            <div class="group">
                <p class="label">Horário</p>
                <p class="hour">{{ schedule.startTime }} - {{ schedule.endTime }}</p>
            </div>
            <div class="expand" (click)="removeSchedule(schedule._id)" *ngIf="delete">
                <i class="fas fa-trash"></i>
            </div>
        </div>
        <div class="group">
            <p class="label">Título(s)</p>
            <p class="title" *ngFor="let titulo of schedule.titles">
                {{ titulo }}
            </p>
        </div>
        <div class="group">
            <p class="label">Coordenadore(s)</p>
            <p class="title" *ngFor="let coordinator of schedule.coordinators">
                {{ coordinator }}
            </p>
        </div>
        <div class="group">
            <p class="label">Local</p>
            <p class="hour">{{ schedule.place }}</p>
        </div>
        <div class="group">
            <p class="label">Endereço</p>
            <p class="hour">{{ schedule.address }}</p>
        </div>
    </div>
</div>