<!--==========================
      parcerias Section
    ============================-->
<section id="parcerias" class="wow fadeInUp">
    <div class="container">
        <div class="row justify-content-between">
            <div class="section-header" mat-dialog-title>
                <h2>Conferencistas</h2>
            </div>
            <i class="fa fa-times" (click)="close()"></i>
        </div>
        <mat-dialog-content>
            <div class="row">
                <div class="mt-4">
                    <div class="row align-items-center">

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Abraham Magendzo (Universidad Academia de Humanismo Cristiano).jpg"
                                title="Abraham Magendzo (Universidad Academia de Humanismo Cristiano)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Aída Monteiro (UFPE).jpg"
                                title="Aída Monteiro (UFPE)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Alda Marin (PUC SP).jpg"
                                title="Alda Marin (PUC SP)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Alice Casimiro Lopes (UERJ).jpg"
                                title="Alice Casimiro Lopes (UERJ)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Alicia Bonamino (PUC-Rio).jpg"
                                title="Alicia Bonamino (PUC-Rio)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Andrea Rosana Fetzner (UNIRIO).jpg"
                                title="Andrea Rosana Fetzner (UNIRIO)">
                        </div>



                    </div>
                    <div class="row mt-4 align-items-center">


                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Angela Dalben (UFMG).jpg"
                                title="Angela Dalben (UFMG)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Antonio Flavio Moreira (UCP).jpg"
                                title="Antonio Flavio Moreira (UCP)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Antònio Nóvoa (ULisboa PT – UFRJ).jpg"
                                title="Antònio Nóvoa (ULisboa PT – UFRJ)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Bernardete Gatti (FFC).png"
                                title="Bernardete Gatti (FFC)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Carmen Teresa Gabriel (UFRJ).jpg"
                                title="Carmen Teresa Gabriel (UFRJ)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Claudia Fernandes (UNIRIO).jpg"
                                title="Claudia Fernandes (UNIRIO)">
                        </div>



                    </div>
                    <div class="row mt-4 align-items-center">

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Cristina D’Avila (UFBA).jpg"
                                title="Cristina D’Avila (UFBA)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Dalila Andrade Oliveira (UFMG).jpg"
                                title="Dalila Andrade Oliveira (UFMG)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Elizeu Clementino de Souza (UNEB).jpg"
                                title="Elizeu Clementino de Souza (UNEB)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Flavia Medeiros Sarti (UNESP).jpg"
                                title="Flavia Medeiros Sarti (UNESP)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Guilherme Alcantara (UFMG).jpg"
                                title="Guilherme Alcantara (UFMG)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Gustavo Fischman (Arizona State University).jpg"
                                title="Gustavo Fischman (Arizona State University)">
                        </div>



                    </div>



                    <div class="row mt-4 align-items-center">


                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Ilma Passos Alencastro Veiga (UnB).jpg"
                                title="Ilma Passos Alencastro Veiga (UnB)">
                        </div>
                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Isabel Maria Sabino (UECE).jpg"
                                title="Isabel Maria Sabino (UECE)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Joana Romanowisk (PUC PR).jpg"
                                title="Joana Romanowisk (PUC PR)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/José Carlos Libâneo (UFG).jpg"
                                title="José Carlos Libâneo (UFG)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Julio Diniz-Pereira (UFMG).jpg"
                                title="Julio Diniz-Pereira (UFMG)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Leda Sheibe (UFSC).jpg"
                                title="Leda Sheibe (UFSC)">
                        </div>



                    </div>
                    <div class="row mt-4 align-items-center">

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Lucíola Santos (UFMG).jpg"
                                title="Lucíola Santos (UFMG)">
                        </div>
                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Luiz Carlos de Freitas (UNICAMP).jpg"
                                title="Luiz Carlos de Freitas (UNICAMP)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Luiz Fernandes de Oliveira (UFRRJ).jpg"
                                title="Luiz Fernandes de Oliveira (UFRRJ)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Luiz Fernandes Dourado (UFG).jpg"
                                title="Luiz Fernandes Dourado (UFG)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Marcia Serra Ferreira (UFRJ).jpg"
                                title="Marcia Serra Ferreira (UFRJ)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Maria Amélia Santoro Franco (UNISANTOS).jpg"
                                title="Maria Amélia Santoro Franco (UNISANTOS)">
                        </div>


                    </div>
                    <div class="row mt-4 align-items-center">
                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Maria do Céu Roldão (UCPorto PT).jpg"
                                title="Maria do Céu Roldão (UCPorto PT)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Maria Inês Marcondes (PUC-Rio).jpg"
                                title="Maria Inês Marcondes (PUC-Rio)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Maria Isabel Cunha (UNISINOS).jpg"
                                title="Maria Isabel Cunha (UNISINOS)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Maria Isabel de Almeida (USP).jpg"
                                title="Maria Isabel de Almeida (USP)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Maria Rita de Oliveira (CEFET MG).jpg"
                                title="Maria Rita de Oliveira (CEFET MG)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Maria Teresa Esteban (UFF).jpg"
                                title="Maria Teresa Esteban (UFF)">
                        </div>


                    </div>
                    <div class="row mt-4 align-items-center">
                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Marli André (PUC SP).jpg"
                                title="Marli André (PUC SP)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Menga Lüdke (PUC Rio).jpg"
                                title="Menga Lüdke (PUC Rio)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Morgana Rezende (SME-Rio).jpg"
                                title="Morgana Rezende (SME-Rio)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Nilda Alves (UERJ).jpg"
                                title="Nilda Alves (UERJ)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Nilma Lino Gomes (UFMG).jpg"
                                title="Nilma Lino Gomes (UFMG)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Patricia Cristina Albieri de Almeida (FCC).jpg"
                                title="Patricia Cristina Albieri de Almeida (FCC)">
                        </div>


                    </div>
                    <div class="row mt-4 align-items-center">
                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Pura Martins (PUC PR).jpg"
                                title="Pura Martins (PUC PR)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Sandra Regina Soares (UNEB).jpg"
                                title="Sandra Regina Soares (UNEB)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Sandra Zakia (USP).jpg"
                                title="Sandra Zakia (USP)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Selma Garrido Pimenta (USP).jpg"
                                title="Selma Garrido Pimenta (USP)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Silas Borges Monteiro (UFMT).jpg"
                                title="Silas Borges Monteiro (UFMT)">
                        </div>

                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Vera Candau (PUC-Rio).jpg"
                                title="Vera Candau (PUC-Rio)">
                        </div>

                    </div>



                    <div class="row mt-4 align-items-center">



                        <div class="col-md-2 text-center">
                            <img src="../../assets/img/conferencistas/Walkiria Rigolon (SEE SP).jpg"
                                title="Walkiria Rigolon (SEE SP)">
                        </div>

                    </div>
                </div>



            </div>
        </mat-dialog-content>
    </div>
</section>
<!-- #cronograma -->