<div class="row">
    <div class="col-md-4" *ngFor="let grupos of apoiadores">
        <h4><strong>{{grupos.nome}}</strong></h4>
        <!-- <ul style="list-style: none;">
        <li *ngFor="let pessoas of grupos.equipe">
            {{pessoas}}
        </li>
    </ul> -->
        <p *ngFor="let pessoas of grupos.equipe">{{ pessoas }}</p>
    </div>
    <!-- <ul style="list-style: none;">

        <li *ngFor="let grupos of apoiadores">
            <strong>{{grupos.nome}}</strong><br />
            <ul style="list-style: none;">
                <li *ngFor="let pessoas of grupos.equipe">
                    {{pessoas}}
                </li>
            </ul>
        </li>
    </ul> -->
</div>

<div class="row">
    <div class="col-md-2 img-parceiros" *ngFor="let imagem of imagensApoiadores">
        <img src="{{ imagem }}" alt="{{ imagem }}">
    </div>
</div>

<!--
<div  class="row" style="margin-bottom: 30px;">
    <strong class="col-lg-12" style="padding: 0">{{grupos.nome}}</strong>
    <hr/>
    <div *ngFor="let pessoas of grupos.equipe" class="col-lg-3" style="padding: 4px; text-align: left">
           
    </div>
</div>-->