<div class="form">
    <div *ngFor="let noticia of noticias; let i = index" [ngClass]="{'mb-3': noticias.length > 1}">
        <div class="card-news">
            <!-- [ngClass]="{'no-radius-bottom': infos == true}" -->
            <div class="row">
                <div class="col-sm-11 border-right">
                    <small>{{ noticia.name }}</small>
                    <h4 [innerHtml]="noticia.description"></h4>
                </div>
                <div class="col-sm-1 text-center align-self-center pointer" (click)="deletar(noticia)">
                    <i class="fa fa-trash"></i>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!noticias || noticias.length < 1">
        <div class="no-news">
            <div class="row">
                <div class="col-sm-12">
                    <h4>Não há notícias cadastradas</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-end">
        <button class="btn-get-started" (click)="register()">Cadastrar</button>
    </div>
</div>