<!-- <app-header></app-header> -->
<!--==========================
    Intro Section
  ============================-->
<section id="intro">

    <div class="intro-content">
        <!--<h2>XX Endipe <span>|</span> Rio 2020</h2>
         <div>
            <a class="btn-get-started scrollto" style="cursor: pointer" [routerLink]="['/home']"
                fragment="pricing">Inscreva-se</a>
             href="#about" 
             <a href="#portfolio" class="btn-projects scrollto">Our Projects</a> 
        </div>-->
    </div>

</section><!-- #intro -->

<main id="main">

    <!--==========================
      Sobre Section
    ============================-->
    <section id="about" class="wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 content">
                    <h2>Tema</h2>
                    <h2 class="child"><strong style="color:red">FAZERES-SABERES PEDAGÓGICOS: diálogos, insurgências e políticas</strong></h2>
                    
                    <!-- <h3>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                        id est laborum.</h3> -->
                    <ul>
                        <li>
                            <strong>Dias: 14 a 17 de julho de 2020</strong>
                        </li>
                        <li>
                            <strong>Locais</strong>
                        </li>
                        <li>
                            <ul>
                                <li>
                                    - Campus da Faculdade de Educação da UFRJ
                                </li>
                                
                                <li>
                                    - Campus do Instituto Benjamim Constant
                                </li>
                                    
                                <li>
                                    - Campus da Escola de Educação da UNIRIO
                                </li>
                                    
                                <li>
                                    Todos localizados na Av. Pasteur, no bairro da Urca
                                </li>

                                <li>
                                    <strong style="color: #0c2e8a">ABERTURA NO ESPACO CULTURAL VIVO RIO, situado no Aterro do FLAMENGO</strong>
                                </li>

                            </ul>
                            
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 agenda">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="agenda-titulo">
                                <h2 style="color:red">NOTÍCIAS</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="agenda-items" style="text-align: left">
                            <ul>
                                <li><i class="mr-2" style="text-align: left;"></i>O RIO DE JANEIRO ESPERA POR VOCÊ! APROVEITE OS DESCONTOS E FAÇA LOgO A SUA INSCRIÇÃO PARA O MAIOR EVENTO DE EDUCAÇÃO</li>
                                <li><i class="fa fa-calendar-day mr-2"></i> Início das Inscrições -> 26 de agosto de 2019</li>
                                <li><i class="fa fa-calendar-day mr-2"></i> Submissão de Trabalhos -> 16 de outubro a 18 de dezembro de 2019 </li>
                                <li><i class="fa fa-calendar-day mr-2"></i> Avaliação pelo Comitê Cientifico -> Até 13 de abril de 2020</li>
                                <li><i class="fa fa-calendar-day mr-2"></i> Divulgação dos trabalhos aprovados -> 14-20 de abril de 2020</li>
                                <li><i class="fa fa-calendar-day mr-2"></i> Recursos -> 20-27 de abril de 2020</li>
                                <li><i class="fa fa-calendar-day mr-2"></i> Resposta aos recursos -> Até 15 de maio de 2020</li>
                                <li><i class="fa fa-calendar-day mr-2"></i> Divulgação da programação completa -> Até 30 de maio de 2020</li>
                                <li><i class="fa fa-calendar-day mr-2"></i> Inscrição nos Minicursos e nas Rodas de Conversa -> 01-20 de junho de 2020</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- #about -->

    <!--==========================
      Apresentação Section
    ============================-->
    <section id="clients" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Apresentação</h2>
                <p style="text-align: justify;">
                    A realização do seminário “A Didática em Questão”, em 1982, na PUC-Rio, referência
                    especialmente significativa da gênese do movimento hoje materializado nos ENDIPES
                    (Encontro Nacional de Didática e Prática de Ensino), estava marcada pelo contexto de forte
                    compromisso com a construção dos caminhos de redemocratização da sociedade brasileira.
                    Para todos os implicados, esta era uma exigência iniludível: articular os processos
                    educacionais com as dinâmicas de transformação e reconstrução do estado democrático de
                    direito no país. Além disso, outro foco fundamental foi a superação da orientação tecnicista
                    então predominante na área didática.
                    Hoje: a Didática e a área de educação estão desafiadas por um contexto marcado por forte
                    retrocesso nas conquistas de direitos, nas políticas sociais e educacionais; afirmam-se
                    políticas neoliberais, o conservadorismo no plano político e ético, multiplicam-se as
                    desigualdades, violências, discriminações e intolerâncias, e se afirma o que podemos chamar
                    de um neotecnicismo. Atrevemo-nos a afirmar que a educação apresenta um quadro sombrio,
                    anacrônico e incompetente. É este o contexto que nos desafia a superar a falta de ânimo, o
                    cansaço e a desesperança.
                    <br/>
                    Que caminhos podemos trilhar? O que propor para essa 20ª edição do ENDIPE a se realizar
                    no Rio de Janeiro em 2020?
                    <br/>
                    <br/>
                    <strong>
                    - Promover um amplo diálogo com os diferentes atores sociais<br/>
                    - Visibilizar e socializar práticas educativas insurgentes<br/>
                    - Valorizar a profissão docente<br/>
                    - Favorecer a superação do “formato escolar” dominante - Reinventar a escola<br/>
                    <br/>
                    </strong>
                    Muitos são os nossos desafios neste momento sombrio que estamos vivendo. No entanto,
                    juntos/as, estamos chamados/as a resistir, insurgir e criar espaços de diálogo orientados a
                    construir processos educativos que fortaleçam a democracia, a justiça e a solidariedade no
                    nosso país.
                    Esperamos que, quase quarenta anos depois, esse ENDIPE também fique marcado, pelo forte
                    compromisso com a construção dos caminhos de afirmação da democracia brasileira. Uma
                    marca não só do primeiro, mas de todos os ENDIPES que se sucederam. Que consigamos,
                    como sempre, articular os processos educacionais com as dinâmicas de transformação e
                    construção de uma sociedade justa e plural em que a democracia seja uma prática cotidiana.
                    Nesta direção queremos situar o XX ENDIPE – Rio 2020.
                    <br/>
                    
                    <i class="pull-right">
                    Rio de Janeiro, 27 de março de 2019.
                    Comitê Organizador 
                    </i>
                
                </p>
            </div>
        </div>
    </section><!-- #apresentação -->

    <!--==========================
      Eixos Section
    ============================-->
    <section id="services">
        <div class="container">
            <div class="section-header">
                <h2>Eixos</h2>
                <!-- <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam
                    enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum
                    velit export irure minim illum fore</p> -->
            </div>

            <div class="row">

                <div class="col-lg-6" *ngFor="let eixo of eixos">
                    <div style="cursor: pointer; color: #0c2e8a;" class="box wow fadeInLeft" (click)="openDialogEixo(eixo)">
                        <!-- <div class="icon"><i class="fa fa-bar-chart"></i></div> -->
                        <h4 class="title"><a>{{ eixo.titulo }}</a></h4>
                        <p class="description">
                            <strong>{{ eixo.tema }}</strong>
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #eixos -->

    
<!--==========================
      organizacao Section
    ============================-->
    <section id="team" class="wow fadeInUp">
            <div class="container">
                <div class="section-header">
                    <h2>Organização</h2>
                </div>
                <div class="row">

                    <ul style="list-style: none;">
                            <li>
                                <strong>O XX ENDIPE – Rio 2020 é uma organização conjunta das seguintes instituições:</strong>
                            </li>
                            <li *ngFor="let instituicao of instituicoes">
                                    {{ instituicao }}
                            </li>
                            <li>
                                <strong>Comitê</strong>
                            </li>
                            <li *ngFor="let comite of comites" >
                                    {{ comite }}
                            </li>
                            <li>
                                <strong>Secretaria</strong>
                            </li>
                            <li *ngFor="let secretaria of secretarias" >
                                    {{ secretaria }}
                            </li>
                            <li >
                                <div class="row contact-info" style="cursor: pointer;">
                                    <div>
                                        <div  class="box wow fadeInLeft" (click)="openDialogApoiadores(gruposDeTrabalho)">
                                            <h4 class="title"><a>+ Todos Apoiadores</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </li>

                    </ul>

                   
                </div>
            </div>
        </section><!-- #coordenadores -->


     <!--==========================
      Historico Section
    ============================-->
    <section id="historico" class="wow fadeInUp">
            <div class="container">
                <div class="section-header">
                    <h2>Histórico</h2>
                </div>

                <div class="col-xs-12 content" style="color: white;">
                        Na virada dos anos de 1970 para 1980, quando a sociedade brasileira já manifestava sinais
                        mais contundentes de oposição à ditadura militar que se instalara em 1964, um grupo de
                        educadores brasileiros deu início a um movimento que acabou por expressar, no campo
                        educacional, os mesmos anseios de mudança, presentes na sociedade da época. Envolvidos
                        com as práticas de ensino e com a didática, esses educadores reuniram-se em 1979 no 1º
                        Encontro Nacional de Prática de Ensino e em 1982 no 1º Seminário A Didática em Questão,
                        dando início a um processo de questionamento dos fundamentos, das concepções, das
                        orientações políticas e dos modos como a educação era então praticada em nossas escolas. Em
                        razão da proximidade de propósito entre esses dois movimentos, consolidada ao longo da
                        realização de três encontros em cada uma destas áreas, em 1987 eles se fundiram e deram
                        origem a um encontro único, que foi denominado de IV ENDIPE. Desde então a didática e as
                        práticas de ensino têm sido alvo de discussões bianuais que congregam pesquisadores,
                        especialistas, dirigentes educacionais, professores e estudantes dos mais distintos espaços do
                        país e do exterior.
                        <br/><br/>
                        O ENDIPE se consagrou ao longo dos seus 40 anos de existência como um espaço plural de
                        discussões acerca dos estudos, das pesquisas e das experiências a respeito dos processos
                        educacionais em todos os níveis de ensino. É hoje um evento muito significativo no cenário
                        nacional e suas contribuições têm sido referência para o avanço da produção de conhecimento
                        sobre os fenômenos educacionais e para a formulação de propostas educacionais inovadoras.
                        <br/><br/>
                        Os 19 Encontros realizados até este momento têm permitido acompanhar as tendências
                        educacionais das três últimas décadas, seus impactos nas escolas e nas práticas docentes, num
                        movimento dialético com interferências concretas nos processos de ensino e aprendizagem.
                        Eles têm sido efetivos espaços de convivência, intercâmbio e diálogo entre pessoas
                        preocupadas com o entendimento e a transformação dos processos educacionais e das práticas
                        pedagógicas.
                        <br/><br/>
                        A expressão desse vigoroso movimento, resultante do envolvimento e compromisso das
                        forças mais atuantes do campo educacional brasileiro, é evidenciada pelo quadro cronológico
                        da realização dos ENDIPES e reforçada pelos temas que os orientaram.
                </div>
                <br/>
                <table class="table table-responsive table-striped tabelaCronograma">
                    <thead>
                        <tr>
                            <th class="text-center">
                                Ano
                            </th>
                            <th class="text-center">
                                Evento
                            </th>
                            <th class="text-center">
                                Local
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2020</td>
                            <td>XX ENDIPE – “Fazeres-Saberes pedagógicos: diálogos, insurgências e políticas”</td>
                            <td>Universidade Federal do Rio de Janeiro – Rio de Janeiro/RJ</td>
                        </tr>
                        <tr>
                            <td>2018</td>
                            <td>XIX ENDIPE – “Para onde vai a Didática?”</td>
                            <td>Universidade Federal da Bahia – Salvador/BA</td>
                        </tr>
                        <tr>
                            <td>2016</td>
                            <td>XVIII ENDIPE – “Didática e Prática de Ensino no contexto político contemporâneo: cenas da educação brasileira”</td>
                            <td>Universidade Federal do Mato Grosso – Cuiabá/MT</td>
                        </tr>
                        <tr>
                            <td>2014</td>
                            <td>XVII ENDIPE – “A Didática e a Prática de Ensino nas relações entre escola, formação de professores e sociedade”</td>
                            <td>Universidade do Estado do Ceará – Fortaleza/CE</td>
                        </tr>                        
                        <tr>
                            <td>2012</td>
                            <td>XVI ENDIPE – “Didática e Práticas de Ensino: compromisso com a escola pública, laica, gratuita e de qualidade”</td>
                            <td>Universidade Estadual de Campinas – Campinas / SP</td>
                        </tr>
                        <tr>
                            <td>2010</td>
                            <td>XV ENDIPE – “Convergências e tensões no campo da formação e do trabalho docente: políticas e práticas educacionais”</td>
                            <td>Universidade Federal de Minas Gerais – Belo Horizonte / MG</td>
                        </tr>
                        <tr>
                            <td>2008</td>
                            <td>XIV ENDIPE – “Trajetórias e Processos de Ensinar e Aprender: lugares, memórias e culturas”</td>
                            <td>Pontifícia Universidade Católica de Porto Alegre / RS</td>
                        </tr>
                        <tr>
                            <td>2006</td>
                            <td>XIII ENDIPE – “Educação, Questões Pedagógicas e Processos Formativos: compromisso com a inclusão social”</td>
                            <td>Universidade Federal de Pernambuco – Recife / PE</td>
                        </tr> 
                        <tr>
                            <td>2004</td>
                            <td>XII ENDIPE – “Conhecimento universal e conhecimento local”</td>
                            <td>Pontifícia Universidade Católica do Paraná – Curitiba/PR</td>
                        </tr>
                        <tr>
                            <td>2002</td>
                            <td>XI ENDIPE – “Igualdade e diversidade na educação"</td>
                            <td>Universidade Federal de Goiás – Goiânia / GO</td>
                        </tr>
                        <tr>
                            <td>2000</td>
                            <td>X ENDIPE – “Ensinar e aprender: sujeitos, saberes, espaços e tempos”</td>
                            <td>Universidade Estadual do Rio de Janeiro – R. de Janeiro / RJ</td>
                        </tr>
                        <tr>
                            <td>1998</td>
                            <td>IX ENDIPE – “Olhando a qualidade do ensino a partir da sala de aula”</td>
                            <td>Universidade de São Paulo – Águas de Lindóia / SP</td>
                        </tr>                        
                        <tr>
                            <td>1996</td>
                            <td>VIII ENDIPE – “Formação e profissionalização do educador”</td>
                            <td>Universidade Federal de Santa Catarina – Florianópolis / SC</td>
                        </tr>
                        <tr>
                            <td>1994</td>
                            <td>VII ENDIPE – “Produção do conhecimento e trabalho docente”</td>
                            <td>Universidade Federal de Goiás – Goiânia / GO</td>
                        </tr>
                        <tr>
                            <td>1991</td>
                            <td>VI ENDIPE – “Perspectivas do trabalho docente para o ano 2000: qual Didática e qual Prática de Ensino? As bases teóricas de uma prática docente interdisciplinar: explicitações necessárias”</td>
                            <td>Universidade Federal do Rio Grande do Sul – Porto Alegre / RS</td>
                        </tr>
                        <tr>
                            <td>1989</td>
                            <td>V ENDIPE – “Organização do processo de trabalho docente: em busca da integração da Didática e da Prática de Ensino”</td>
                            <td>Universidade Federal de Minas Gerais – Belo Horizonte / MG</td>
                        </tr> 
                        <tr>
                            <td>1987</td>
                            <td>IV ENDIPE – “A prática pedagógica e a educação transformadora na sociedade brasileira”</td>
                            <td>Universidade Católica de Pernambuco – Recife / PE</td>
                        </tr> 
                        <tr>
                            <td>1985</td>
                            <td>III Seminário A Didática em Questão</td>
                            <td>Universidade de São Paulo – São Paulo / SP</td>
                        </tr> 
                        <tr>
                            <td>1985</td>
                            <td>III Encontro Nacional de Prática de Ensino</td>
                            <td>Pontifícia Universidade Católica de São Paulo – S. Paulo / SP</td>
                        </tr> 
                        <tr>
                            <td>1983</td>
                            <td>II Seminário A Didática em Questão Pontifícia</td>
                            <td>Universidade Católica do Rio de Janeiro / RJ</td>
                        </tr> 
                        <tr>
                            <td>1983</td>
                            <td>II Encontro Nacional de Prática de Ensino</td>
                            <td>Universidade de São Paulo – São Paulo / SP</td>
                        </tr> 
                        <tr>
                            <td>1982</td>
                            <td>I Seminário A Didática em Questão Pontifícia</td>
                            <td>Universidade Católica do Rio de Janeiro / RJ</td>
                        </tr> 
                        <tr>
                            <td>1979</td>
                            <td>I Encontro Nacional de Prática de Ensino</td>
                            <td>Universidade Federal de Santa Maria / RS</td>
                        </tr> 

                    </tbody>
                </table>
            </div>
        </section><!-- #cronograma -->
    

    <!--==========================
      Cronograma Section
    ============================-->
    <section id="programacao" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Programação</h2>
            </div>
            Clique para ver os horários de cada sessão abaixo:<br/><br/>
            <div class="row contact-info" style="text-align: left;cursor: pointer;">
                <div class="col-lg-6" *ngFor="let programacao of programacoes">
                    <div  class="box wow fadeInLeft" (click)="openDialogProgramacao(programacao)">
                        <h4 class="title"><a>{{ programacao.titulo }}</a></h4>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- #cronograma -->

    <!--==========================
      modalidades Section
    ============================-->
     <section id="modalidades" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Modalidades</h2>
            </div>
            
            <div class="row">
                    <div class="col-lg-6">
                        <div class="box wow fadeInLeft">
                            <h4 class="title">Convidado de Sessão Especial</h4>
                            <p class="description">
                                    As Sessões Especiais, dedicadas à celebração da vigésima edição do evento, serão propostas pelo
                                    Comitê Organizador e destinadas ao debate sobre a constituição do campo da Didática no Brasil,
                                    devendo contar preferencialmente com a presença dos coordenadores de todas as edições do ENDIPE
                                    e de pesquisadores e professores de referência nas áreas de Didática, Currículo e Formação de
                                    Professores.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box wow fadeInLeft">
                            <h4 class="title">Mediador de Minicurso</h4>
                            <p class="description">
                                Os Minicursos se destinarão ao desenvolvimento didático de assunto relevante e associado às
                                temáticas dos eixos do evento. Suas propostas poderão ser apresentadas por um ou mais professores
                                da Educação Básica e da Educação Superior, devendo ser planejado para, no mínimo, duas e, no
                                máximo, três sessões de uma hora e meia cada, para um grupo limitado de participantes, com inscrição
                                prévia, a ser realizada conforme cronograma do evento. As propostas de Minicursos serão avaliadas e
                                selecionadas pelo Comitê Científico, conforme as normas definidas para a sua submissão e avaliação.
                                <br><p (click)="openDialogNormas()" class="pull-right" style="color: #0c2e8a;cursor: pointer;">Normas</p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box wow fadeInLeft">
                            <h4 class="title">Mediador de Roda de Conversa</h4>
                            <p class="description">
                                    As Rodas de Conversa se destinarão ao debate de assunto relevante e associado às temáticas dos eixos
                                    do evento. Suas propostas poderão ser apresentadas por um ou mais professores da Educação Básica e
                                    da Educação Superior, devendo ser planejada para uma sessão de uma hora e meia cada, para um
                                    grupo limitado de participantes, com inscrição prévia, a ser realizada conforme cronograma do evento.
                                    As propostas de Rodas de Conversa serão avaliadas e selecionadas pelo Comitê Científico, conforme as
                                    normas definidas para a sua submissão e avaliação.
                                    <br><p (click)="openDialogNormas()" class="pull-right" style="color: #0c2e8a;cursor: pointer;">Normas</p>
                                </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box wow fadeInLeft">
                            <h4 class="title">Coordenador e expositor de Painel</h4>
                            <p class="description">
                                    Os Painéis têm como finalidade a apresentação de trabalhos elaborados pelos autores, decorrentes de
                                    pesquisas concluídas ou experiências de ensino consolidadas. O tema do Painel deverá se relacionar
                                    com um dos eixos do Encontro e a sua proposta deverá conter três trabalhos de instituições diferentes,
                                    sendo um, obrigatoriamente, de professor/a da Educação Básica. O Painel deverá ser proposto por um
                                    coordenador e seus trabalhos avaliados conjuntamente, conforme as normas definidas para a sua
                                    submissão e avaliação.
                                    <br><p (click)="openDialogNormas()" class="pull-right" style="color: #0c2e8a;cursor: pointer;">Normas</p>
                                </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box wow fadeInLeft">
                            <h4 class="title">Expositor de Pôster</h4>
                            <p class="description">
                                    Os Pôsteres têm como finalidade a apresentação de trabalho decorrente de pesquisas em andamento
                                    ou experiências de ensino em realização. O tema do Pôster deverá se relacionar com um dos eixos do
                                    Encontro, podendo ser submetido por estudantes de pós-graduação, professor da Educação Básica
                                    e/ou Professor da Educação Superior. Pretende-se que o Pôster seja debatido em salas de
                                    comunicações com mediações de professores convidados. As propostas de Pôsteres serão avaliadas e
                                    selecionadas pelo Comitê Científico, conforme as normas definidas para a sua submissão e avaliação.
                                    <br><p (click)="openDialogNormas()" class="pull-right" style="color: #0c2e8a;cursor: pointer;">Normas</p>
                                </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box wow fadeInLeft">
                            <h4 class="title">Simposista</h4>
                            <p class="description">
                                    Os Simpósios serão propostos pelo Comitê Organizador, referentes a cada um dos eixos do 20º ENDIPE
                                    – Rio 2020. Eles serão formados por três simposistas, preferencialmente de instituições e Estados
                                    diferentes, sendo um deles do Rio de Janeiro. O conjunto de Simpósios envolverá pesquisadores
                                    nacionais e estrangeiros e professores da Educação Básica e da Educação Superior com produção
                                    referente às Didáticas e Práticas de Ensino.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box wow fadeInLeft">
                            <h4 class="title">Ouvinte</h4>
                            <p class="description">
                                Serão aceitas no 20º ENDIPE – Rio 2020 inscrições de ouvintes sem apresentação de trabalho. Poderão
                                se inscrever nessa modalidade professores da Educação Básica e da Educação Superior, pesquisadores,
                                estudantes de pós-graduação e estudantes de graduação.
                            </p>
                        </div>
                    </div>
                    
                </div>
            
        </div>
    </section> 
    <!-- #testimonials -->


     <!--==========================
      Cronograma Section
    ============================-->
    <section id="normas" class="wow fadeInUp">
            <div class="container">
                <div class="section-header">
                    <h2>Normas</h2>
                </div>
                Atenção, leia as normas para não perder detalhes especificos sobre sua participação<br/><br/>
                <div class="row">
                    <div style="cursor: pointer;" class="col-lg-6">
                        <div class="box wow fadeInLeft" (click)="openDialogNormas()">
                            <h4 class="title" style="color: red; font-weight: bold;"><a>Ver Normas</a></h4>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- #cronograma -->
    

        <!--==========================
      hospedagem Section
    ============================-->
     <section id="hospedagem" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Hospedagem</h2>
            </div>
            <div class="row contact-info" style="text-align: left;cursor: pointer;">
                <p class="box wow fadeInLeft">Informações sobre:</p><br/><br/>
                <div class="col-lg-12">
                    <div  class="box wow fadeInLeft">
                        <h4 class="title"><a>Hospedagem</a></h4>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div  class="box wow fadeInLeft">
                        <h4 class="title"><a>Alimentação</a></h4>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div  class="box wow fadeInLeft">
                        <h4 class="title"><a>Transporte</a></h4>
                    </div>
                </div>

            </div>
            <strong style="color:red">*Informações a partir de dezembro</strong>
        </div>
    </section> 
    <!-- #testimonials -->




    <!--==========================
      Ingressos Section
    ============================-->
    <!--<section id="pricing" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Inscrição</h2>
            </div>
            <div class="row">
                <mat-tab-group animationDuration="2000ms" disableRipple>
                    <mat-tab label="Estudantes de Graduação e Pós-Graduação">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="span4">
                                    <div class="pricing-box-wrap">
                                        <div class="pricing-heading">
                                            <h3>Lote 1</h3>
                                            <p>Disponível até 19/03/2020 <br> ou término do lote</p>
                                        </div>
                                        <div class="pricing-terms">
                                            <h6>R$60,00 <small>/Pessoa</small></h6>
                                        </div>
                                        <div class="pricing-content">
                                            <ul>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                            </ul>
                                        </div>
                                        <div class="pricing-action">
                                            <a (click)="openDialog()" class="btn btn-medium btn-theme"><i
                                                    class="icon-bolt"></i>
                                                REGISTRAR-SE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="span4">
                                    <div class="pricing-box-wrap">
                                        <div class="pricing-heading">
                                            <h3>Lote 2</h3>
                                            <p>Disponível até 19/03/2020 <br> ou término do lote</p>
                                        </div>
                                        <div class="pricing-terms">
                                            <h6>R$75,00 <small>/Pessoa</small></h6>
                                        </div>
                                        <div class="pricing-content">
                                            <ul>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                            </ul>
                                        </div>
                                        <div class="pricing-action">
                                            <a (click)="openDialog()" class="btn btn-medium btn-theme"><i
                                                    class="icon-bolt"></i>
                                                REGISTRAR-SE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="span4">
                                    <div class="pricing-box-wrap">
                                        <div class="pricing-heading">
                                            <h3>Lote 3</h3>
                                            <p>Disponível até 19/03/2020 <br> ou término do lote</p>
                                        </div>
                                        <div class="pricing-terms">
                                            <h6>R$95,00 <small>/Pessoa</small></h6>
                                        </div>
                                        <div class="pricing-content">
                                            <ul>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                            </ul>
                                        </div>
                                        <div class="pricing-action">
                                            <a (click)="openDialog()" class="btn btn-medium btn-theme"><i
                                                    class="icon-bolt"></i>
                                                REGISTRAR-SE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Pesquisador(a) e Professor(a) de Educação Superior">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="span4">
                                    <div class="pricing-box-wrap">
                                        <div class="pricing-heading">
                                            <h3>Lote 1</h3>
                                            <p>Disponível até 19/03/2020 <br> ou término do lote</p>
                                        </div>
                                        <div class="pricing-terms">
                                            <h6>R$60,00 <small>/Pessoa</small></h6>
                                        </div>
                                        <div class="pricing-content">
                                            <ul>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                            </ul>
                                        </div>
                                        <div class="pricing-action">
                                            <a (click)="openDialog()" class="btn btn-medium btn-theme"><i
                                                    class="icon-bolt"></i>
                                                REGISTRAR-SE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="span4">
                                    <div class="pricing-box-wrap">
                                        <div class="pricing-heading">
                                            <h3>Lote 2</h3>
                                            <p>Disponível até 19/03/2020 <br> ou término do lote</p>
                                        </div>
                                        <div class="pricing-terms">
                                            <h6>R$75,00 <small>/Pessoa</small></h6>
                                        </div>
                                        <div class="pricing-content">
                                            <ul>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                            </ul>
                                        </div>
                                        <div class="pricing-action">
                                            <a (click)="openDialog()" class="btn btn-medium btn-theme"><i
                                                    class="icon-bolt"></i>
                                                REGISTRAR-SE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="span4">
                                    <div class="pricing-box-wrap">
                                        <div class="pricing-heading">
                                            <h3>Lote 3</h3>
                                            <p>Disponível até 19/03/2020 <br> ou término do lote</p>
                                        </div>
                                        <div class="pricing-terms">
                                            <h6>R$95,00 <small>/Pessoa</small></h6>
                                        </div>
                                        <div class="pricing-content">
                                            <ul>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                            </ul>
                                        </div>
                                        <div class="pricing-action">
                                            <a (click)="openDialog()" class="btn btn-medium btn-theme"><i
                                                    class="icon-bolt"></i>
                                                REGISTRAR-SE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Professor(a) de Educação Básica">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="span4">
                                    <div class="pricing-box-wrap">
                                        <div class="pricing-heading">
                                            <h3>Lote 1</h3>
                                            <p>Disponível até 19/03/2020 <br> ou término do lote</p>
                                        </div>
                                        <div class="pricing-terms">
                                            <h6>R$60,00 <small>/Pessoa</small></h6>
                                        </div>
                                        <div class="pricing-content">
                                            <ul>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                            </ul>
                                        </div>
                                        <div class="pricing-action">
                                            <a (click)="openDialog()" class="btn btn-medium btn-theme"><i
                                                    class="icon-bolt"></i>
                                                REGISTRAR-SE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="span4">
                                    <div class="pricing-box-wrap">
                                        <div class="pricing-heading">
                                            <h3>Lote 2</h3>
                                            <p>Disponível até 19/03/2020 <br> ou término do lote</p>
                                        </div>
                                        <div class="pricing-terms">
                                            <h6>R$75,00 <small>/Pessoa</small></h6>
                                        </div>
                                        <div class="pricing-content">
                                            <ul>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                            </ul>
                                        </div>
                                        <div class="pricing-action">
                                            <a (click)="openDialog()" class="btn btn-medium btn-theme"><i
                                                    class="icon-bolt"></i>
                                                REGISTRAR-SE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="span4">
                                    <div class="pricing-box-wrap">
                                        <div class="pricing-heading">
                                            <h3>Lote 3</h3>
                                            <p>Disponível até 19/03/2020 <br> ou término do lote</p>
                                        </div>
                                        <div class="pricing-terms">
                                            <h6>R$95,00 <small>/Pessoa</small></h6>
                                        </div>
                                        <div class="pricing-content">
                                            <ul>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                                <li><i class="icon-ok"></i> Lorem ipsum dolor sit amet</li>
                                            </ul>
                                        </div>
                                        <div class="pricing-action">
                                            <a (click)="openDialog()" class="btn btn-medium btn-theme"><i
                                                    class="icon-bolt"></i>
                                                REGISTRAR-SE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </section>--><!-- #pricing -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Contato</h2>
                <!-- <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam
                    enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum
                    velit export irure minim illum fore</p> -->
            </div>

            <div class="row contact-info">

                <div class="col-md-4">
                    <div class="contact-address">
                        <i class="ion-ios-location-outline"></i>
                        <h3>Endereço</h3>
                        <address>Avenida Pasteur, 250, Urca, Rio de Janeiro-RJ, Brasil <br> CEP 22290-902
                        </address>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-phone">
                        <i class="ion-ios-telephone-outline"></i>
                        <h3>Telefone</h3>
                        <p><a href="tel:+155895548855">+1 5589 55488 55</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-email">
                        <i class="ion-ios-email-outline"></i>
                        <h3>Email</h3>
                        <p><a href="mailto:xxendiperio2020@gmail.com">xxendiperio2020@gmail.com</a></p>
                    </div>
                </div>

            </div>
        </div>

        <div class="container mb-4">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3673.9456816491347!2d-43.17654963460574!3d-22.952227484988722!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x99801d8e741eb1%3A0x9a2669530f282519!2sUFRJ+-+Instituto+de+Economia!5e0!3m2!1spt-BR!2sbr!4v1564980506225!5m2!1spt-BR!2sbr"
                width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <div class="container">
            <div class="form">
                <div id="sendmessage">Sua mensagem foi enviada. Obrigado!</div>
                <div id="errormessage"></div>
                <form action="" method="post" role="form" class="contactForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Nome"
                                data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email"
                                data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto"
                            data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required"
                            data-msg="Please write something for us" placeholder="Mensagem"></textarea>
                        <div class="validation"></div>
                    </div>
                    <div class="text-center"><button type="submit">Enviar</button></div>
                </form>
            </div>

        </div>
    </section><!-- #contact -->

</main>
<!-- <app-footer></app-footer> -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>