<main id="main">

    <div class="container" id="register">
        <div class="form">
            <form [formGroup]="profileForm" role="form" class="contactForm" (ngSubmit)="updateUser()">
                <div class="section-header">
                    <h2>Meu perfil</h2>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" name="fullname" class="form-control" id="fullname" placeholder="Nome"
                            formControlName="fullname" />
                        <!-- <div *ngIf="(validate.fullname.errors && submit) || (validate.fullname.errors && !validate.fullname.pristine)"
                            class="alert alert-danger">
                            <div [hidden]="!validate.fullname.errors.required">
                                Preencha o campo nome
                            </div>
                        </div> -->
                    </div>
                    <br>
                    <div class="form-group col-md-6">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email"
                            formControlName="email" />
                        <!-- <div *ngIf="(validate.email.errors && submit) || (validate.email.errors && !validate.email.pristine)"
                            class="alert alert-danger">
                            <div [hidden]="!validate.email.errors.required">
                                Preencha o campo email
                            </div>
                            <div [hidden]="!validate.email.errors.pattern">
                                Formato de email inválido
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" name="document" class="form-control" id="document" placeholder="Documento"
                            formControlName="document" />
                        <!-- <div *ngIf="(validate.fullname.errors && submit) || (validate.fullname.errors && !validate.fullname.pristine)"
                            class="alert alert-danger">
                            <div [hidden]="!validate.fullname.errors.required">
                                Preencha o campo nome
                            </div>
                        </div> -->
                    </div>
                    <br>
                    <div class="form-group col-md-6">
                        <div>
                            <select class="form-control" id="opt" formControlName="modalityId">
                                <option disabled="true" [selected]="!retrieveFormData.modalityId">Selecione
                                    a modalidade</option>
                                <option *ngFor="let option of modalidadesUsuario" [value]="option.id">
                                    {{ option.name }}
                                </option>
                            </select>
                        </div>
                        <!-- <div *ngIf="(validate.email.errors && submit) || (validate.email.errors && !validate.email.pristine)"
                            class="alert alert-danger">
                            <div [hidden]="!validate.email.errors.required">
                                Preencha o campo email
                            </div>
                            <div [hidden]="!validate.email.errors.pattern">
                                Formato de email inválido
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="form-row" formGroupName="institution">
                    <div class="form-group col-md-6">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Nome"
                            formControlName="name" />
                        <!-- <div *ngIf="(validate.fullname.errors && submit) || (validate.fullname.errors && !validate.fullname.pristine)"
                            class="alert alert-danger">
                            <div [hidden]="!validate.fullname.errors.required">
                                Preencha o campo nome
                            </div>
                        </div> -->
                    </div>
                    <br>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" name="initials" id="initials" placeholder="Iniciais"
                            formControlName="initials" />
                        <!-- <div *ngIf="(validate.email.errors && submit) || (validate.email.errors && !validate.email.pristine)"
                            class="alert alert-danger">
                            <div [hidden]="!validate.email.errors.required">
                                Preencha o campo email
                            </div>
                            <div [hidden]="!validate.email.errors.pattern">
                                Formato de email inválido
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button class="btn-get-started" type="submit">Submeter</button>
                </div>

            </form>
        </div>

    </div>

</main>