<!--==========================
    Intro Section
  ============================-->
<main id="main">

    <div class="container" id="register">
        <div class="form">
            <form [formGroup]="registerForm" (ngSubmit)="register()" role="form" class="contactForm">
                <div class="section-header">
                    <h2>Dados Pessoais</h2>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Nome"
                            data-rule="minlen:4" data-msg="Please enter at least 4 chars" formControlName="fullname" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email"
                            data-rule="email" data-msg="Please enter a valid email" formControlName="email" />
                        <div class="validation"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type="text" name="birth-date" class="form-control" id="birth-date"
                            placeholder="Data de nascimento" data-rule="minlen:4"
                            data-msg="Please enter at least 4 chars" formControlName="dateBirth" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group col-md-4" formGroupName="phones">
                        <input type="text" name="telephone" class="form-control" id="telephone" placeholder="Telefone"
                            data-rule="minlen:4" data-msg="Please enter at least 4 chars" formControlName="telephone" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group col-md-4" formGroupName="phones">
                        <input type="text" class="form-control" name="cellphone" id="cellphone" placeholder="Celular"
                            data-rule="email" data-msg="Please enter a valid email" formControlName="cellphone" />
                        <div class="validation"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="password" name="password" class="form-control" id="password" placeholder="Senha"
                            data-rule="minlen:4" data-msg="Please enter at least 4 chars" formControlName="password" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="password" class="form-control" name="cf-password" id="cf-password"
                            placeholder="Confirmar senha" data-rule="email" data-msg="Please enter a valid email"
                            formControlName="cfPassword" />
                        <div class="validation"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                value="opcao1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                Sou estrangeiro
                            </label>
                        </div>
                        <div class="form-check" last>
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                value="opcao2">
                            <label class="form-check-label" for="exampleRadios2">
                                Não sou estrangeiro
                            </label>
                        </div>
                        <input type="text" class="form-control" name="document" id="document" placeholder="Document"
                            data-rule="email" data-msg="Please enter a valid email" formControlName="document" />
                        <div class="validation"></div>
                    </div>
                </div>

                <div class="section-header">
                    <h2 mt-2>Endereço</h2>
                </div>
                <div class="form-row" formGroupName="address">
                    <div class="form-group col-md-6">
                        <input type="text" name="street" class="form-control" id="street" placeholder="Endereço"
                            data-rule="minlen:4" data-msg="Please enter at least 4 chars" formControlName="street" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" name="num" id="num" placeholder="Nº" data-rule="email"
                            data-msg="Please enter a valid email" formControlName="num" />
                        <div class="validation"></div>
                    </div>
                </div>
                <div class="form-row" formGroupName="address">
                    <div class="form-group col-md-6">
                        <input type="text" name="zip" class="form-control" id="zip" placeholder="Código postal"
                            data-rule="minlen:4" data-msg="Please enter at least 4 chars" formControlName="zip" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" name="city" id="city" placeholder="Cidade"
                            data-rule="email" data-msg="Please enter a valid email" formControlName="city" />
                        <div class="validation"></div>
                    </div>
                </div>
                <div class="form-row" formGroupName="address">
                    <div class="form-group col-md-4">
                        <input type="text" name="district" class="form-control" id="district" placeholder="Bairro"
                            data-rule="minlen:4" data-msg="Please enter at least 4 chars" formControlName="district" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" name="country" id="country" placeholder="País"
                            data-rule="email" data-msg="Please enter a valid email" formControlName="country" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" name="state" id="state" placeholder="Estado"
                            data-rule="email" data-msg="Please enter a valid email" formControlName="state" />
                        <div class="validation"></div>
                    </div>
                </div>

                <div class="section-header">
                    <h2 mt-2>Instituição</h2>
                </div>
                <div class="form-row" formGroupName="institution">
                    <div class="form-group col-md-8">
                        <input type="text" name="ies-name" class="form-control" id="ies-name" placeholder="Nome"
                            data-rule="minlen:4" data-msg="Please enter at least 4 chars" formControlName="name" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" name="ies-sg" id="ies-sg" placeholder="Sigla"
                            data-rule="email" data-msg="Please enter a valid email" formControlName="initials" />
                        <div class="validation"></div>
                    </div>
                </div>
                <div class="section-header">
                    <h2 mt-2>Categoria</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                value="opcao1">
                            <label class="form-check-label" for="exampleRadios1">
                                Convidado de sessão especial
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                value="opcao2">
                            <label class="form-check-label" for="exampleRadios2">
                                Mediador de roda de conversa
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3"
                                value="option3">
                            <label class="form-check-label" for="exampleRadios3">
                                Expositor de pôster
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                value="opcao1">
                            <label class="form-check-label" for="exampleRadios1">
                                Mediador de minicurso
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                value="opcao2">
                            <label class="form-check-label" for="exampleRadios2">
                                Coordenador e expositor de painel
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3"
                                value="option3">
                            <label class="form-check-label" for="exampleRadios3">
                                Simposista
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                value="opcao1">
                            <label class="form-check-label" for="exampleRadios1">
                                Ouvinte
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12 pt-4">
                        <hr>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1"
                                value="opcao1">
                            <label class="form-check-label" for="exampleRadios1">
                                Li e concordo com o <a [routerLink]="" (click)="openRules()">termo de uso</a>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="text-center pt-5"><button type="submit">Enviar</button></div>
            </form>
        </div>

    </div>

</main>


<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>