<!--==========================
    coordenação Section
============================-->
<section id="team" class="wow fadeInUp">
    <div class="container">

        <!--<div class="topleft">
            <p>Logo</p>
        </div>-->
        <div class="middle section-header">
            <h1 style="color: #0C2E8A;">Aguarde</h1>
            <hr>
            <p style="font-size:30px">Estamos preparando um formato virtual do congresso</p>
            <p *ngIf="days" style="font-size:30px">{{days + ' dias ' + hours + ' horas ' + minutes + ' minutos ' + seconds + ' segundos'}}</p>
        </div>
       

        <!--
        <div id="faq" class="section-header">
            <h2>Perguntas Frequentes</h2>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = !panelOpenState"
                    (closed)="panelOpenState = !panelOpenState">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Como me inscrevo em mini curso?
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <p>Isso é simples, basta você clicar em....</p>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState2 = !panelOpenState"
                    (closed)="panelOpenState2 = !panelOpenState">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Como me inscrevo em roda de conversa?
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <p>Basta clicar em...</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>-->


    </div>



</section>
<!-- #coordenação -->


<!--

<section id="forum" class="wow fadeInUp">

    <div>
        <ul>
          <li *ngFor="let comment of comments">
              
            <header>
              <h1 [ngClass]="{ 'author': isAuthor(comment.author.email) }">
                  <a *ngIf="comment.author.website.length == 0">
                    {{ comment.author.name }}
                  </a>
                  <a *ngIf="comment.author.website.length > 0" href="{{ comment.author.website }}">{{ comment.author.name }}</a>
             </h1>
               
              <div>
                <button (click)="love(comment.id)" [ngClass]="{ 'loved': comment.loved }"></button>
                <button (click)="reply(comment.author.name)"></button>
              </div>
            </header>
            <p [innerHTML]="parseContent(comment.content)"></p>

          </li>
        </ul>
        <form name="form" (ngSubmit)="addNewComment()" novalidate>
          <textarea placeholder="Comment" [ngModelOptions]="{standalone: true}" [(ngModel)]="newComment.content" required></textarea>
          <button type="submit">Add comment</button>
        </form>
      </div>


</section>
-->


<!--<section id="intro">

    <div class="intro-content">
      <h2>Making <span>your ideas</span><br>happen!</h2>
      <div>
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
        <a href="#portfolio" class="btn-projects scrollto">Our Projects</a>
      </div>
    </div>
</section>-->


